<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phungthanhquan.bookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activity.ChuongSachRead"></activity>
        <activity android:name=".View.Activity.Read"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>



        <activity android:name=".View.Activity.ForGotPass" />
        <activity android:name=".View.Activity.Register" />
        <activity android:name=".View.Activity.Login" />
        <activity android:name=".View.Activity.PlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.MarketingChiTiet" />
        <activity android:name=".View.Activity.ListBookDanhMucTatCa" />
        <activity android:name=".View.Activity.HinhThucThanhToan" />
        <activity android:name=".View.Activity.ChonGoiMuaSach" />
        <activity android:name=".View.Activity.XemThemDanhGia" />
        <activity android:name=".View.Activity.SearchBook"  />
        <activity android:name=".View.Activity.BookDetail"  />
        <activity android:name=".View.Activity.MainActivity" />
        <activity android:name=".View.Activity.ListBookToChoice" />


    </application>

</manifest>